div {
    border-radius:0px;
}
h1 {
    color: #dc7070;
    font-size:50px;
    font-family: Raleway;
    margin-left: 50px;

}
center {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -60%);
    color: #dc7070;
    font-size:50px;
    font-family: Raleway;
}
head {
    background-color:#606060;

}

/*
.block {
    background-color: #E5BEEC;
}

h2{ 
    text-align: left;
    font-family: Arial;
}

p{
    font-size: 14;
}
.border {
    margin-top: 10;
}


.bb {
    background-color: black;
    font-family:'Raleway',;
    font-weight:900;
    color:#FFC131;
}
.lgray {
    background-color: #939393;
    color: #939393;
}
.back {
    background-color: white;
}
.box {
    background-color: #ffffff;
}
.blue {
    background-color: #545454;
    color: white;
}
.gg {
    background-color: gray;
    color:gray;
}
.responsive {
    padding:  6px;
    float: left;
    width: 24.99999%;
}

.bottom {
    height:50;
    width:50;
}
body {
    background-color:white;
    margin:0;
}
.center {
    text-align: center;

}
.purp{background-color:
    #BDBDBD;}

.center > li {
    text-align:center;
    margin:0 auto;
}
div.img {
    border: 1px solid #d4f5ff;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

desc {
    text-align: center;
}

.mid {
    vertical-align: middle;
}
#footer p {
    padding-top: 15px;
    position: relative;
    color:#B57EDC;
    font-size:20px;
    font-family: Cursive;
}
.bot {
    margin-bottom:50px;
    
}
a {
    text-decoration:none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.robot {
    font-family:'Raleway',;
    font-weight:900;
    color:#FFC131;
    margin-left: 50px;
}

.robotw {
    font-family:'Raleway',;
    font-weight:700;
    color:white;
    position: absolute;
    /*left: 100px;
    padding-left: 50px;
    font-size: 50px;
    top: 80px;
    
  }
  

.robotww {
    font-family:'Raleway',;
    font-weight:900;
    color:white;
}
.g {
    color:#696969;
    /*margin-left:50px;
    margin-right:50px;
    text-align:left;
    margin-top:20px;
  
}
.resjum {
    background: url(images/resumejumbo.jpg);
    height:200px;
    background-size: cover;
}
.homjum {
    background: url(images/train.jpg);
    height:200px;
    background-size: cover;
}
.abtjum {
    background: url(images/lion.jpg);
    height:200px;
    background-size: cover;
}
.projum {
    background: url(images/gears.jpg);
    height:200px;
    background-size: cover;
}
.conjum {
    background: url(images/coffee.jpg);
    height:200px;
    background-size: cover;
}
a:hover {
    color:black;
    font-weight: bold;
    background-color:#FFC131;
}
ul {
    list-style-position: inside;
}

.right {
    float: left;
    width:98%;
    margin-top: 15px;
}
a:hover + div {
    display: block;
    background-color: #FFC131;
    color:black;
}

.mpad {
   /*padding:20px;
    margin-bottom: 20px;
}

.proj {
    margin-bottom:20px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
   background-color: #FFC131;
}
.left{
    text-align:left;
}
.right{
    float:right;
}
.marg{
    font-family:'Raleway',;
    font-weight:900;
    color:gray;
    margin-left: 50px;
}

.five-star-line {
    height: 60 px;
    background-image: url(images/urastar3.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* Three columns side by side 
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container 
  .container {
    padding: 0 10px;
  }
  
  /* Clear floats 
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #FFC131;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .row1 {
      display:flex;
  }
.card {
    border:solid;
    border-color:#FFC131;
    border-width:thick;
    flex: 1; /* additionally, equal width 
    padding: 1em;
}
*/